#user-icon-small {
    margin-right: 5px;
}

#user-icon-lg {
    background-color: #e6e6e6;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

#user-icon-lg > span {
    position: absolute;
    top: 22px;
    left: 113px;
    color: #8e8e8e;
}
